name: publish

on:
  release:
    types:
      - published
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v1

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - run: bun install
      - run: bun run test
      - run: bun run build

      - name: Publish eiab package
        run: npm publish --access public --provenance
        working-directory: packages/eiab
